*{
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 20px;
    padding: 10px;
}
.container{
    background-color: #ddd7d7;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,textarea {
    width: 100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
.main{
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}
input[type="submit"]{
    background-color: #535151;
    color:#ccc;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100;
}
input[type="submit"]:hover{
    background-color: #000000;
}